@import "variables";

.information {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;

    > header {
        display: none;
    }

    &__designer {
        --max_width: 268px;
        position: relative;
        margin-top: -53px;
        margin-left: auto;
        margin-right: 14px;
        max-width: var(--max_width);
        background: #181719;
        box-shadow: 0px 4px 4px rgba(0,0,0,.25);
        padding-top: 13px;
        padding-left: 22px;
        padding-bottom: 25px;

        @media (min-width: $breakpoint-desktop) {
            --max_width: 390px;
        }
    
        > a {
            color: white;
    
            > p {
                --font_size: 18px;
                --max_width: 210px;

                max-width: var(--max_width);
                font-family: "Lora", Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: var(--font_size);
                padding-top: 10px;

                @media (min-width: $breakpoint-desktop) {
                    --font_size: 24px;
                    --max_width: 280px;
                }
            }
        }

        &__address {
            --max_width: 150px;
            @include flex-row();
            align-items: center;
            max-width: var(--max_width);
        
            > img {
                --width: 40px;

                border-radius: 50%;
                width: var(--width);

                @media (min-width: $breakpoint-desktop) {
                    --width: 60px
                }
            }

            @media (min-width: $breakpoint-desktop) {
                --max_width: 180px;
            }

            &--desc {

                > p {
                    --font_size: 12px;
                    --line-height: .7;

                    font-weight: 500;
                    font-size: var(--font_size);
                    line-height: var(--line-height);

                    @media (min-width: $breakpoint-desktop) {
                        --font_size: 14px;
                        --line-height: .9;
                    }
                }
                
                > span {
                    --font_size: 12px;
                    --line-height: .5;

                    color: #828282;
                    font-weight: 500;
                    font-size: var(--font_size);
                    line-height: var(--line-height);

                    @media (min-width: $breakpoint-desktop) {
                        --font_size: 12px;
                        --line-height: .7;
                    }
                }
            }
        }
    }
}
