.container {
  --padding-left: 14px;
  --padding-right: 15px;
  --max_width: #{$breakpoint-tablet};

  padding-left: var(--padding-left);
  padding-right: var(--padding-right);

  @media (min-width: $breakpoint-tablet) {
    max-width: var(--max_width);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  @media (min-width: $breakpoint-desktop) {
    --max_width: #{$breakpoint-desktop};
  }
}
