@import "variables";

body {
    margin: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

address {
    font-style: normal;
}

ul {
    @include reset-list();
}

a {
    @include anchor();
}