// File path

$path-to-font:"../fonts/";

$font-faces: 
  (
    name: "Montserrat Light",
    system-name: "Montserrat-Light",
    weight: 300,
    style: normal,
    filename: "montserrat-300"
  ),
  (
    name: "Montserrat Medium",
    system-name: "Montserrat-Medium",
    weight: 500,
    style: normal,
    filename: "montserrat-500"
  ),
  (
    name: "Montserrat SemiBold",
    system-name: "Montserrat-SemiBold",
    weight: 600,
    style: normal,
    filename: "montserrat-600"
  ),
  (
    name: "Crimson Pro ExtraLight",
    system-name: "Crimson-Pro-ExtraLight",
    weight: 200,
    style: normal,
    filename: "crimson-pro-200"
  ),
  (
    name: "Lora",
    system-name: "Lora",
    weight: 400,
    style: normal,
    filename: "lora-400"
  ),
  (
    name: "Lora",
    system-name: "Lora",
    weight: 700,
    style: normal,
    filename: "lora-700"
  )
;

@each $face in $font-faces {
  @font-face {
    font-family: map-get($face, name);
    font-weight: map-get($face, weight);
    font-style: map-get($face, style);
      src: 
        local(map-get($face, name)),
        local(map-get($face, system-name)),
        url('#{$path_to_font}#{map-get($face, filename)}.woff2') format(woff2),
        url('#{$path_to_font}#{map-get($face, filename)}.woff') format(woff),
  }
}


