@import 'variables';

.header {
    > .container {
        --padding-top: 19px;
        --padding-bottom: 19px;
        @include flex-row();
        padding-right: 0;
        padding-top: var(--padding-top);
        padding-bottom: var(--padding-bottom);

        > h1 {
            margin: 0;
            font-family: "Crimson Pro", Arial, Helvetica, sans-serif;
            font-weight: 200;
            font-size: 14px;
            text-transform: uppercase;
            border: 1px solid #FFFFFF;
            padding-top: 8px;
            padding-bottom: 7px;
            padding-left: 8px;
            padding-right: 9px;
            box-sizing: border-box;
        }
    }
}