@import 'variables';

.masthead {
    padding-top: 45px;
    max-width: 270px;

    > h2 {
        font-family: "Lora", Arial, Helvetica, sans-serif;
        font-size: 36px;
        font-weight: 400;
        margin: 0;
        padding-bottom: 25px;
        line-height: 2.5;
    }
    > p {
        font-weight: 300;
        font-size: 14px;
    }
}

p.masthead__recommendation {
    padding-top: 25px;
    font-weight: 600;
    font-size: 14px;
    max-width: 115px;
    @include flex-row();

    a {
        color: white;
    }
}