@import "variables";

.menu {
  background-image: url("../images/icon_menu.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 50% 50%;
  color: transparent;

  @media (min-width: 1140px) {
    display: none;
  }
}

// hide the checkbox
body > [type="checkbox"] {
  display: none;
}

// when the user check the checkbox by clicking the menu icon, the menu will show
body > [type="checkbox"]:checked ~ header .header__pagination {
  transform: translateX(0%);
}

// because there is a close label in the body, that need to be hidden away
body > label {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 0;
  transition: opacity 1s;
  background-color: rgba(0,0,0,.25);

  @media (min-width: 1140px) {
    background-color: initial;
  }
}

// when the menu icon is clicked make the main clickable, to close the menu
body > [type="checkbox"]:checked ~ main {
  z-index: 1;
} 

body > [type="checkbox"]:checked ~ label {
  z-index: 2;
  opacity: 1;
}


.header__pagination {
  --padding-top: 1rem;
  --elem_width: 250px;

  padding-top: var(--padding-top);
  padding-bottom: var(--padding-top);
  padding-left: var(--padding-top);
  padding-right: var(--padding-top);
  background-color: #181719;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--elem_width);
  box-shadow: 0 0 50px rgba(0,0,0,.5);
  transform: translateX(-110%);
  transition: transform 0.2s;

  @media (min-width: 1140px) {
    --elem_width: 324px;
    position: initial;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    transform: none;
    transition: none;
  }

  &__list {
    order: 1;
    font-size: 18px;
  
    > li {
      --padding-bottom: 2rem;
  
      padding-bottom: var(--padding-bottom);
  
      a {
        color: white;

        &:hover {
          font-weight: 700;
        }
      }
      @media (min-width: 1140px) {
        padding-bottom: 0;
      }
    }
  
    @media (min-width: 1140px) {
      @include flex-row();
    }

    &--home {
      font-weight: 700;
    }
  }
}