@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin anchor {
  text-decoration: none;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}